.vscode-highlight {
  white-space: pre-wrap;
  padding-left: initial;
  padding-right: initial;
  .vscode-highlight-line {
    white-space: pre;
  }
  .vscode-highlight-line-highlighted {
    background-color: rgba(_palette(accent), 0.2);
    box-shadow: inset 2px 0 0 0 rgba(_palette(accent), 0.5);
  }
}
